<footer class="site-footer" role="contentinfo" aria-label="Pie de página del sitio">
  <div class="main-container long left">
    <div  class="footer-distributed">
    <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">

        <p>Copyright© - 2015 Todos los Derechos Reservados - Desarrollado por <a href="http://www.complexless.com" target="_blank">Complexless</a></p>
      </div>
   </div> 
   </div> 
</footer>
