<div class="page-sidebar" style="border-bottom: 1px solid rgb(175, 190, 213);">
  <div class="page-info">
     <!-- <h1>
      <p class="page-filters-title">Documentación FatcaFacil</p>
    </h1>
    <br>
      <a class="btn-default" ref="http://fatcafacil.com/img/guiausuario.pdf" class="animated fadeInDown wow down btn btn-default btn-lg" onclick="ga('send', 'event', 'download', 'click', $(this).attr('href'));"><img src="/assets/images/arrow2.png"/>Descargar</a>

    <p>Para Windows</p>-->
  </div>
   <ul class="page-filters" role="presentation" aria-hidden="true" id="nav">
    <li class="page-filters-title">Comencemos</li>
      <li>
        <a href="/" class="category-inner" aria-hidden="true" tabindex="-1">
        <img src="/assets/images/arrow.png"/> 
        Como funciona
        </a>
      </li>
    {% assign starting = site.posts | where:'category', 'starting' | sort : 'order'%}
    {% for starting_post in starting %}
      <li>
        <a href="{{ site.baseurl | append: starting_post.url }}" class="category-inner {{ starting_post.category_info.name }}{% if page.active == starting_post.category_info.name %} active{% endif %}" aria-hidden="true" tabindex="-1">
          <img src="/assets/images/arrow.png"/>
          {{ starting_post.category_info.title }}
        </a>
      </li>
    {% endfor %}
      
  </ul>
  <ul class="page-filters" role="presentation" aria-hidden="true" id="nav">
    <li class="page-filters-title">Configuración</li>
    {% assign desktop = site.posts | where: 'category', 'desktop' | sort: 'order' %}
    
    {% for desktop_post in desktop %}
      <li>
        <a href="{{ site.baseurl | append: desktop_post.url }}" class="category-inner {{ desktop_post.category_info.name }}{% if page.active == desktop_post.category_info.name %} active{% endif %}" aria-hidden="true" tabindex="-1">
          <img src="/assets/images/arrow.png"/>
          {{ desktop_post.category_info.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  </ul>
  <ul class="page-filters" role="presentation" aria-hidden="true" id="nav">
    <li class="page-filters-title">Funcionalidades</li>
    {% assign web = site.posts | where: 'category', 'web' | sort: 'order' %}
    
    {% for web_post in web %}
      <li>
        <a href="{{ site.baseurl | append: web_post.url }}" class="category-inner {{ web_post.category_info.name }}{% if page.active == web_post.category_info.name %} active{% endif %}" aria-hidden="true" tabindex="-1">
          <img src="/assets/images/arrow.png"/>
          {{ web_post.category_info.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<!--<script type="text/javascript">
$('#nav li a').click(function() {
  $('.active').removeClass('active');
  $(this).addClass('active');
});

  $('#nav a').click(function(e){
    e.preventDefault();
    
    if (!$(this).parents('a').hasClass('active')){
      
      $('#nav li a').removeClass('active');
      $(this).parents('a').addClass('active');
      
    
  };
  
});

  $('#nav li a').on('click', function(){
    $(this).addClass('active').siblings().removeClass('active');
});
</script>-->